body{
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}
.navbar-default{
  border-color: #777!important;
}
.dright {
  top: 0% !important;
}
.sidenavbtn{
  background: none;
}
.sidenavbtn:hover{
  background: #09bb44;
}
.langGuideIntro{
  padding: 20px;
}
#langGuideCont{
  padding: 30px;
}
.sideNav {
  position: fixed;
  cursor: pointer;
  background: #0fe055;
  box-shadow: -5px 3px 4px #0c0c0c;
  height: 200px;
  color: rgb(24, 23, 23);
  font-size: 20px;
  padding-top: 20px;
  font-family: sans-serif;
  border-radius: 6px;
  clip-path: circle(20px at 45px 33px);

}
  .sideNavicon {
    border-radius: 20px;
    padding: 0px 35px;
    height: 26px;
    margin-right: 80px;
  }
 
  .sideNav:hover {
  animation-name: sidebar;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  }
  @keyframes sidebar{
    0%{clip-path: circle(20px at 45px 33px);}
    25%{clip-path: circle(100px at 45px 33px);}
    50%{clip-path: circle(200px at 45px 33px);}
    75%{clip-path: circle(300px at 45px 33px);}
    100%{clip-path: circle(300px at 45px 33px);}

  }
  .sideNav:hover  .sideNavicon{
  display: none;
  }
  .btnlink{
    padding: 10px;
  }
  .sidenavbtn{
    padding-left:  10px;
  }
.langBackground{
position: absolute;
display: block;
top: 0;
left: 0;
z-index: -1;;
  }
.langGuideMainCont{
  color: rgb(255, 0, 0);
}
.outerCont{
  margin:40px 0px;
  padding: 20px;
}
.innerCont{
  padding: 10px;
}
.LangContHead{
  font-size: 30px;
  font-family: Alegreya Sans SC;
}
